.todoItemImg{
    width: 20px;
    height: 20px;
}

.checkText{
    text-decoration: line-through;
}

.todoText{
    text-align: center;
}

.todoCase{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}